<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LibraryDb"
         connectionString="Host=localhost;Port=5432;Database=BaitaplonPython;Username=postgres;Password=25082006;Pooling=true;Timeout=15;Command Timeout=30"
         providerName="Npgsql" />
  </connectionStrings>
</configuration>
